{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": true,
      "target": "http://volgina",
      "useLocalAssets": true
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "*.db",
          "_app",
          "/.git",
          "*.md",
          ".*"
        ],
        "exceptions": [
          ".htaccess"
        ]
      }
    },
    "uploader": {
      "remotePath": "/www/volgina.mymv.ru/remote-vision",
      "timeout": 40000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "favicon.ico",
          "mtimeMs": 1575383798687.9875,
          "date": "2021-12-23T06:08:55.081Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1575383829377.9153,
          "date": "2021-12-23T06:08:55.645Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1642064297711.012,
          "date": "2022-01-13T10:47:51.459Z"
        },
        {
          "file": "confirm/index.html",
          "mtimeMs": 1639936576508.1357,
          "date": "2021-12-23T06:08:58.775Z"
        },
        {
          "file": "css/confirm.min.css",
          "mtimeMs": 1639739099227.4492,
          "date": "2021-12-23T06:08:59.298Z"
        },
        {
          "file": "css/promo.min.css",
          "mtimeMs": 1642070316516.8513,
          "date": "2022-01-13T10:47:53.550Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1642070316973.5686,
          "date": "2022-01-13T10:47:54.176Z"
        },
        {
          "file": "fonts/PlayfairDisplayRegular.eot",
          "mtimeMs": 1639917088000,
          "date": "2021-12-23T06:09:01.405Z"
        },
        {
          "file": "fonts/PlayfairDisplayRegular.svg",
          "mtimeMs": 1639917088000,
          "date": "2021-12-23T06:09:02.182Z"
        },
        {
          "file": "fonts/PlayfairDisplayRegular.ttf",
          "mtimeMs": 1639917088000,
          "date": "2021-12-23T06:09:02.878Z"
        },
        {
          "file": "fonts/PlayfairDisplayRegular.woff",
          "mtimeMs": 1639917088000,
          "date": "2021-12-23T06:09:03.524Z"
        },
        {
          "file": "fonts/PlayfairDisplayRegular.woff2",
          "mtimeMs": 1639917088000,
          "date": "2021-12-23T06:09:04.177Z"
        },
        {
          "file": "fonts/RalewayBold.eot",
          "mtimeMs": 1616235088000,
          "date": "2021-12-23T06:09:04.974Z"
        },
        {
          "file": "fonts/RalewayBold.svg",
          "mtimeMs": 1616235088000,
          "date": "2021-12-23T06:09:06.669Z"
        },
        {
          "file": "fonts/RalewayBold.ttf",
          "mtimeMs": 1616235088000,
          "date": "2021-12-23T06:09:07.577Z"
        },
        {
          "file": "fonts/RalewayBold.woff",
          "mtimeMs": 1616235088000,
          "date": "2021-12-23T06:09:08.499Z"
        },
        {
          "file": "fonts/RalewayBold.woff2",
          "mtimeMs": 1616235088000,
          "date": "2021-12-23T06:09:09.102Z"
        },
        {
          "file": "fonts/RalewayMedium.eot",
          "mtimeMs": 1616235102000,
          "date": "2021-12-23T06:09:09.733Z"
        },
        {
          "file": "fonts/RalewayMedium.svg",
          "mtimeMs": 1616235102000,
          "date": "2021-12-23T06:09:10.646Z"
        },
        {
          "file": "fonts/RalewayMedium.ttf",
          "mtimeMs": 1616235102000,
          "date": "2021-12-23T06:09:11.299Z"
        },
        {
          "file": "fonts/RalewayMedium.woff",
          "mtimeMs": 1616235102000,
          "date": "2021-12-23T06:09:11.859Z"
        },
        {
          "file": "fonts/RalewayMedium.woff2",
          "mtimeMs": 1616235102000,
          "date": "2021-12-23T06:09:12.553Z"
        },
        {
          "file": "fonts/RalewayRegular.eot",
          "mtimeMs": 1639917120000,
          "date": "2021-12-23T06:09:13.190Z"
        },
        {
          "file": "fonts/RalewayRegular.svg",
          "mtimeMs": 1639917120000,
          "date": "2021-12-23T06:09:14.040Z"
        },
        {
          "file": "fonts/RalewayRegular.ttf",
          "mtimeMs": 1639917120000,
          "date": "2021-12-23T06:09:14.742Z"
        },
        {
          "file": "fonts/RalewayRegular.woff",
          "mtimeMs": 1639917120000,
          "date": "2021-12-23T06:09:15.389Z"
        },
        {
          "file": "fonts/RalewayRegular.woff2",
          "mtimeMs": 1639917120000,
          "date": "2021-12-23T06:09:15.995Z"
        },
        {
          "file": "fonts/RalewayThin.eot",
          "mtimeMs": 1639917132000,
          "date": "2021-12-23T06:09:16.644Z"
        },
        {
          "file": "fonts/RalewayThin.svg",
          "mtimeMs": 1639917132000,
          "date": "2021-12-23T06:09:17.469Z"
        },
        {
          "file": "fonts/RalewayThin.ttf",
          "mtimeMs": 1639917132000,
          "date": "2021-12-23T06:09:18.157Z"
        },
        {
          "file": "fonts/RalewayThin.woff",
          "mtimeMs": 1639917132000,
          "date": "2021-12-23T06:09:18.840Z"
        },
        {
          "file": "fonts/RalewayThin.woff2",
          "mtimeMs": 1639917134000,
          "date": "2021-12-23T06:09:19.461Z"
        },
        {
          "file": "fonts/RobotoBold.eot",
          "mtimeMs": 1550719236000,
          "date": "2021-12-23T06:09:20.255Z"
        },
        {
          "file": "fonts/RobotoBold.svg",
          "mtimeMs": 1550719234000,
          "date": "2021-12-23T06:09:21.037Z"
        },
        {
          "file": "fonts/RobotoBold.ttf",
          "mtimeMs": 1550719234000,
          "date": "2021-12-23T06:09:21.635Z"
        },
        {
          "file": "fonts/RobotoBold.woff",
          "mtimeMs": 1550719236000,
          "date": "2021-12-23T06:09:22.300Z"
        },
        {
          "file": "fonts/RobotoBold.woff2",
          "mtimeMs": 1550719236000,
          "date": "2021-12-23T06:09:22.876Z"
        },
        {
          "file": "img/backs/last.png",
          "mtimeMs": 1640257164052.0781,
          "date": "2021-12-23T11:58:37.351Z"
        },
        {
          "file": "img/backs/main.png",
          "mtimeMs": 1640257170934.0076,
          "date": "2021-12-23T11:58:37.986Z"
        },
        {
          "file": "img/backs/reasons.png",
          "mtimeMs": 1640257178039.1057,
          "date": "2021-12-23T11:58:38.594Z"
        },
        {
          "file": "img/confirm/confirm-img.png",
          "mtimeMs": 1583560678199.4304,
          "date": "2021-12-23T06:09:25.745Z"
        },
        {
          "file": "img/confirm/confirm-logo.png",
          "mtimeMs": 1631085676361,
          "date": "2021-12-23T06:09:26.347Z"
        },
        {
          "file": "img/confirm/gmail.png",
          "mtimeMs": 1583560688781.459,
          "date": "2021-12-23T06:09:26.885Z"
        },
        {
          "file": "img/confirm/mailru.png",
          "mtimeMs": 1583560692773.1108,
          "date": "2021-12-23T06:09:27.409Z"
        },
        {
          "file": "img/confirm/rambler.png",
          "mtimeMs": 1583560696989.911,
          "date": "2021-12-23T06:09:28.027Z"
        },
        {
          "file": "img/confirm/title-bg.png",
          "mtimeMs": 1583560701842.1335,
          "date": "2021-12-23T06:09:28.834Z"
        },
        {
          "file": "img/confirm/yandex.png",
          "mtimeMs": 1583560706978.5457,
          "date": "2021-12-23T06:09:29.364Z"
        },
        {
          "file": "img/icons/for-1.png",
          "mtimeMs": 1640257232899.5388,
          "date": "2021-12-23T11:58:39.851Z"
        },
        {
          "file": "img/icons/for-2.png",
          "mtimeMs": 1640257238314.7302,
          "date": "2021-12-23T11:58:40.485Z"
        },
        {
          "file": "img/icons/for-3.png",
          "mtimeMs": 1640257244103.2517,
          "date": "2021-12-23T11:58:41.154Z"
        },
        {
          "file": "img/icons/for-4.png",
          "mtimeMs": 1640257250289.695,
          "date": "2021-12-23T11:58:41.928Z"
        },
        {
          "file": "img/icons/for-5.png",
          "mtimeMs": 1640257255743.6328,
          "date": "2021-12-23T11:58:42.561Z"
        },
        {
          "file": "img/icons/for-6.png",
          "mtimeMs": 1640257264435.8745,
          "date": "2021-12-23T11:58:43.233Z"
        },
        {
          "file": "img/icons/for-7.png",
          "mtimeMs": 1640257269407.4678,
          "date": "2021-12-23T11:58:43.856Z"
        },
        {
          "file": "img/icons/for-8.png",
          "mtimeMs": 1640257275357.1604,
          "date": "2021-12-23T11:58:44.619Z"
        },
        {
          "file": "img/icons/for-9.png",
          "mtimeMs": 1640257282228.4126,
          "date": "2021-12-23T11:58:45.309Z"
        },
        {
          "file": "img/icons/soc-buttons.png",
          "mtimeMs": 1602314617676.0002,
          "date": "2021-12-23T06:09:35.286Z"
        },
        {
          "file": "img/icons/tg.png",
          "mtimeMs": 1640257221381.2354,
          "date": "2021-12-23T11:58:45.927Z"
        },
        {
          "file": "img/images/branch-1.png",
          "mtimeMs": 1640257309145.7805,
          "date": "2021-12-23T11:58:46.743Z"
        },
        {
          "file": "img/images/branch-2.png",
          "mtimeMs": 1640257314491.359,
          "date": "2021-12-23T11:58:47.544Z"
        },
        {
          "file": "img/images/branch-main.png",
          "mtimeMs": 1640257319865.725,
          "date": "2021-12-23T11:58:48.219Z"
        },
        {
          "file": "img/images/irina-name.png",
          "mtimeMs": 1640257331139.574,
          "date": "2021-12-23T11:58:48.845Z"
        },
        {
          "file": "img/images/irina.png",
          "mtimeMs": 1640257325027.3367,
          "date": "2021-12-23T11:58:49.630Z"
        },
        {
          "file": "img/images/logo.png",
          "mtimeMs": 1640257338704.3684,
          "date": "2021-12-23T11:58:50.476Z"
        },
        {
          "file": "js/libs.min.js",
          "mtimeMs": 1639974807486.6062,
          "date": "2021-12-23T06:09:41.250Z"
        },
        {
          "file": "js/scripts.js",
          "mtimeMs": 1642053635040.039,
          "date": "2022-01-13T06:10:44.701Z"
        },
        {
          "file": "promo/index.html",
          "mtimeMs": 1640329424397.8071,
          "date": "2021-12-24T07:03:50.308Z"
        },
        {
          "file": "img/images/main.png",
          "mtimeMs": 1640257344390.3542,
          "date": "2021-12-23T11:58:51.240Z"
        },
        {
          "file": "img/revs/text-10.jpg",
          "mtimeMs": 1640257381000,
          "date": "2021-12-23T11:58:55.767Z"
        },
        {
          "file": "img/revs/text-10.min.jpg",
          "mtimeMs": 1640257382000,
          "date": "2021-12-23T11:58:56.680Z"
        },
        {
          "file": "img/revs/text-11.jpg",
          "mtimeMs": 1640257411000,
          "date": "2021-12-23T11:58:57.917Z"
        },
        {
          "file": "img/revs/text-11.min.jpg",
          "mtimeMs": 1640257413000,
          "date": "2021-12-23T11:58:58.831Z"
        },
        {
          "file": "img/revs/text-12.jpg",
          "mtimeMs": 1640257414000,
          "date": "2021-12-23T11:58:59.866Z"
        },
        {
          "file": "img/revs/text-12.min.jpg",
          "mtimeMs": 1640257415000,
          "date": "2021-12-23T11:59:00.534Z"
        },
        {
          "file": "img/revs/text-13.jpg",
          "mtimeMs": 1640257416000,
          "date": "2021-12-23T11:59:01.484Z"
        },
        {
          "file": "img/revs/text-13.min.jpg",
          "mtimeMs": 1640257417000,
          "date": "2021-12-23T11:59:02.147Z"
        },
        {
          "file": "img/revs/text-14.jpg",
          "mtimeMs": 1640257418000,
          "date": "2021-12-23T11:59:03.491Z"
        },
        {
          "file": "img/revs/text-14.min.jpg",
          "mtimeMs": 1640257418000,
          "date": "2021-12-23T11:59:04.213Z"
        },
        {
          "file": "img/revs/text-15.jpg",
          "mtimeMs": 1640257419000,
          "date": "2021-12-23T11:59:04.996Z"
        },
        {
          "file": "img/revs/text-15.min.jpg",
          "mtimeMs": 1640257420000,
          "date": "2021-12-23T11:59:05.642Z"
        },
        {
          "file": "img/revs/text-16.jpg",
          "mtimeMs": 1640257421000,
          "date": "2021-12-23T11:59:06.469Z"
        },
        {
          "file": "img/revs/text-16.min.jpg",
          "mtimeMs": 1640257422000,
          "date": "2021-12-23T11:59:07.232Z"
        },
        {
          "file": "img/revs/text-17.jpg",
          "mtimeMs": 1640257423000,
          "date": "2021-12-23T11:59:08.133Z"
        },
        {
          "file": "img/revs/text-17.min.jpg",
          "mtimeMs": 1640257424000,
          "date": "2021-12-23T11:59:08.775Z"
        },
        {
          "file": "img/revs/text-18.jpg",
          "mtimeMs": 1640257425000,
          "date": "2021-12-23T11:59:09.435Z"
        },
        {
          "file": "img/revs/text-18.min.jpg",
          "mtimeMs": 1640257426000,
          "date": "2021-12-23T11:59:10.167Z"
        },
        {
          "file": "img/revs/text-19.jpg",
          "mtimeMs": 1640257426000,
          "date": "2021-12-23T11:59:10.870Z"
        },
        {
          "file": "img/revs/text-19.min.jpg",
          "mtimeMs": 1640257427000,
          "date": "2021-12-23T11:59:11.568Z"
        },
        {
          "file": "img/revs/text-2.jpg",
          "mtimeMs": 1640257366000,
          "date": "2021-12-23T11:59:12.317Z"
        },
        {
          "file": "img/revs/text-2.min.jpg",
          "mtimeMs": 1640257367000,
          "date": "2021-12-23T11:59:13.020Z"
        },
        {
          "file": "img/revs/text-20.jpg",
          "mtimeMs": 1640257428000,
          "date": "2021-12-23T11:59:13.703Z"
        },
        {
          "file": "img/revs/text-20.min.jpg",
          "mtimeMs": 1640257429000,
          "date": "2021-12-23T11:59:14.819Z"
        },
        {
          "file": "img/revs/text-21.jpg",
          "mtimeMs": 1640257429000,
          "date": "2021-12-23T11:59:15.545Z"
        },
        {
          "file": "img/revs/text-22.jpg",
          "mtimeMs": 1640259922000,
          "date": "2021-12-23T11:59:17.684Z"
        },
        {
          "file": "img/revs/text-22.min.jpg",
          "mtimeMs": 1640259923000,
          "date": "2021-12-23T11:59:18.725Z"
        },
        {
          "file": "img/revs/text-23.jpg",
          "mtimeMs": 1640259924000,
          "date": "2021-12-23T11:59:19.771Z"
        },
        {
          "file": "img/revs/text-23.min.jpg",
          "mtimeMs": 1640259926000,
          "date": "2021-12-23T11:59:20.695Z"
        },
        {
          "file": "img/revs/text-24.jpg",
          "mtimeMs": 1640259927000,
          "date": "2021-12-23T11:59:21.717Z"
        },
        {
          "file": "img/revs/text-24.min.jpg",
          "mtimeMs": 1640259928000,
          "date": "2021-12-23T11:59:22.342Z"
        },
        {
          "file": "img/revs/text-25.jpg",
          "mtimeMs": 1640259929000,
          "date": "2021-12-23T11:59:23.046Z"
        },
        {
          "file": "img/revs/text-25.min.jpg",
          "mtimeMs": 1640259931000,
          "date": "2021-12-23T11:59:23.696Z"
        },
        {
          "file": "img/revs/text-26.jpg",
          "mtimeMs": 1640259932000,
          "date": "2021-12-23T11:59:24.460Z"
        },
        {
          "file": "img/revs/text-26.min.jpg",
          "mtimeMs": 1640259933000,
          "date": "2021-12-23T11:59:25.122Z"
        },
        {
          "file": "img/revs/text-27.jpg",
          "mtimeMs": 1640259935000,
          "date": "2021-12-23T11:59:25.798Z"
        },
        {
          "file": "img/revs/text-27.min.jpg",
          "mtimeMs": 1640259937000,
          "date": "2021-12-23T11:59:26.447Z"
        },
        {
          "file": "img/revs/text-28.jpg",
          "mtimeMs": 1640259938000,
          "date": "2021-12-23T11:59:27.171Z"
        },
        {
          "file": "img/revs/text-28.min.jpg",
          "mtimeMs": 1640259939000,
          "date": "2021-12-23T11:59:27.898Z"
        },
        {
          "file": "img/revs/text-29.jpg",
          "mtimeMs": 1640259940000,
          "date": "2021-12-23T11:59:28.581Z"
        },
        {
          "file": "img/revs/text-29.min.jpg",
          "mtimeMs": 1640259942000,
          "date": "2021-12-23T11:59:29.237Z"
        },
        {
          "file": "img/revs/text-3.jpg",
          "mtimeMs": 1640257368000,
          "date": "2021-12-23T11:59:30.206Z"
        },
        {
          "file": "img/revs/text-3.min.jpg",
          "mtimeMs": 1640257369000,
          "date": "2021-12-23T11:59:31.034Z"
        },
        {
          "file": "img/revs/text-4.jpg",
          "mtimeMs": 1640257370000,
          "date": "2021-12-23T11:59:31.784Z"
        },
        {
          "file": "img/revs/text-4.min.jpg",
          "mtimeMs": 1640257371000,
          "date": "2021-12-23T11:59:32.490Z"
        },
        {
          "file": "img/revs/text-5.jpg",
          "mtimeMs": 1640257372000,
          "date": "2021-12-23T11:59:33.504Z"
        },
        {
          "file": "img/revs/text-5.min.jpg",
          "mtimeMs": 1640257373000,
          "date": "2021-12-23T11:59:34.272Z"
        },
        {
          "file": "img/revs/text-6.jpg",
          "mtimeMs": 1640257375000,
          "date": "2021-12-23T11:59:35.058Z"
        },
        {
          "file": "img/revs/text-6.min.jpg",
          "mtimeMs": 1640257376000,
          "date": "2021-12-23T11:59:35.728Z"
        },
        {
          "file": "img/revs/text-7.jpg",
          "mtimeMs": 1640257376000,
          "date": "2021-12-23T11:59:36.512Z"
        },
        {
          "file": "img/revs/text-7.min.jpg",
          "mtimeMs": 1640257377000,
          "date": "2021-12-23T11:59:37.693Z"
        },
        {
          "file": "img/revs/text-8.jpg",
          "mtimeMs": 1640257378000,
          "date": "2021-12-23T11:59:38.581Z"
        },
        {
          "file": "img/revs/text-8.min.jpg",
          "mtimeMs": 1640257379000,
          "date": "2021-12-23T11:59:39.642Z"
        },
        {
          "file": "img/revs/text-9.jpg",
          "mtimeMs": 1640257380000,
          "date": "2021-12-23T11:59:40.697Z"
        },
        {
          "file": "img/revs/text-9.min.jpg",
          "mtimeMs": 1640257381000,
          "date": "2021-12-23T11:59:41.463Z"
        },
        {
          "file": "confirm-h/index.html",
          "mtimeMs": 1640270507018.3054,
          "date": "2021-12-23T14:42:47.827Z"
        },
        {
          "file": "h/index.html",
          "mtimeMs": 1642064297474.1594,
          "date": "2022-01-13T10:47:54.666Z"
        },
        {
          "file": "promo-h/index.html",
          "mtimeMs": 1640329424399.3188,
          "date": "2021-12-24T07:03:50.754Z"
        },
        {
          "file": "css/course.min.css",
          "mtimeMs": 1642070847762.9783,
          "date": "2022-01-13T10:47:52.996Z"
        },
        {
          "file": "img/images/branch-3.png",
          "mtimeMs": 1641987716148.3523,
          "date": "2022-01-12T11:42:25.193Z"
        },
        {
          "file": "js/course-libs.min.js",
          "mtimeMs": 1642053593702.0986,
          "date": "2022-01-13T06:10:43.808Z"
        },
        {
          "file": "js/course.js",
          "mtimeMs": 1642063500225.6018,
          "date": "2022-01-13T08:47:12.462Z"
        },
        {
          "file": "img/revs/text-21.min.jpg",
          "mtimeMs": 1642054509997.6333,
          "date": "2022-01-13T06:27:11.228Z"
        },
        {
          "file": "course/index.php",
          "mtimeMs": 1642070854119.0417,
          "date": "2022-01-13T10:47:51.964Z"
        },
        {
          "file": "course/vars.php",
          "mtimeMs": 1642070771394.3298,
          "date": "2022-01-13T10:47:52.436Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": false
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../js",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/course-libs.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\course-libs.min.js"
        }
      },
      {
        "file": "_app/_js/course.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\course.js",
          "tasks": {
            "minify-js": {
              "enable": false
            }
          }
        }
      },
      {
        "file": "_app/_js/libs.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\libs.min.js"
        }
      },
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\scripts.js",
          "tasks": {
            "minify-js": {
              "enable": false
            }
          }
        }
      },
      {
        "file": "_app/course.pug",
        "config": {
          "customOutput": "course\\index.php"
        }
      },
      {
        "file": "_app/h.pug",
        "config": {
          "customOutput": "h\\index.html"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/promo-h.pug",
        "config": {
          "customOutput": "promo-h\\index.html"
        }
      },
      {
        "file": "_app/promo.pug",
        "config": {
          "customOutput": "promo\\index.html"
        }
      },
      {
        "file": "_app/styl/course.min.styl",
        "config": {
          "customOutput": "css\\course.min.css"
        }
      },
      {
        "file": "_app/styl/promo.min.styl",
        "config": {
          "customOutput": "css\\promo.min.css"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css\\styles.min.css"
        }
      }
    ]
  }
}
