#after
	position relative
	padding 90px 0
	@media screen and (max-width 991px)
		background-color: #E8F3EF
	@media screen and (max-width 560px)
		padding 60px 0
	@media screen and (max-width 386px)
		padding 40px 0
.after-back
	position absolute
	z-index -1
	width 100%
	height: 120%
	top -15%
	left 0
	@media screen and (max-width 991px)
		display none
.after-item
	border-radius: 50%
	padding 30px
	background-color: #D1B496
	color #fff
	width 100%
	max-width 300px
	min-height 300px
	display table
	margin 0 auto 40px
	transition: all .3s ease
	@media screen and (max-width 1199px)
		max-width 290px
		min-height 290px
	@media screen and (max-width 560px)
		margin-bottom: 35px
	@media screen and (max-width 386px)
		max-width 250px
		min-height 250px
		padding 20px
	&-text
		text-align center
		display table-cell
		font-weight: 500
		vertical-align: middle
		@media screen and (max-width 386px)
			font-size: 16px
	&:hover
		background-color #fff
		color #D1B496