@import 'base/1-fonts.styl'

@import '../_css/bootstrap.min.css'
@import '../_css/flipclock.min.css'
@import '../_css/popup.css'
@import '../_css/slick.css'
@import '../_css/slick-theme.css'

@import 'base/2-base.styl'

@import 'base/3-header.styl'
@import 'course/1-main.styl'
@import 'course/2-for.styl'
@import 'course/3-plan.styl'
@import 'course/4-prices.styl'
@import 'main/7-author.styl'
@import 'main/8-revs.styl'
@import 'main/9-last.styl'
@import 'base/4-footer.styl'