@import 'base/1-fonts.styl'

@import '../_css/bootstrap.min.css'
@import '../_css/popup.css'
@import '../_css/slick.css'
@import '../_css/slick-theme.css'

@import 'base/2-base.styl'

@import 'base/3-header.styl'
@import 'main/1-main.styl'
@import 'main/2-video.styl'
@import 'main/3-for.styl'
@import 'main/4-reasons.styl'
@import 'main/5-plan.styl'
@import 'main/6-lets.styl'
@import 'main/7-author.styl'
@import 'main/8-revs.styl'
@import 'main/9-last.styl'
@import 'base/4-footer.styl'
@import 'main/10-modal.styl'