-var path = '';
-var head_url = 'https://volgina.mymv.ru/remote-vision/';
-var head_title = '«Дистанционное видение»';
-var head_description = '3-дневный онлайн мастер-класс Ирины Волгиной';
-var head_img = 'img/banner.jpg';
-var styles = path+'css/styles.min.css';
-var fav_ico = path+'favicon.ico';
-var fav_png = path+'favicon.png';
-var scriptsLibs = path+'js/libs.min.js';
-var scripts = path+'js/scripts.js';
-var noref = true;
-var tk = true;
-var ah = true;
-var action = '';
-var group = '';
-var formId = '';
-var formVc = '';
//- -var footer_title = true
//- -var oferta = 'https://mastervision.su/oferta.docx'

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		.wrapper
			include pug/main/1-main
			include pug/main/2-video
			include pug/main/3-for
			include pug/main/4-reasons
			include pug/main/5-plan
			include pug/main/6-lets
			include pug/main/7-author
			include pug/main/8-revs
			include pug/main/9-last
			include pug/main/10-modal
		include pug/base/3-scripts
		//- include pug/scripts/chat
		include pug/scripts/body_bottom_scripts