#for
	padding 90px 0
	@media screen and (max-width 560px)
		padding 60px 0
	@media screen and (max-width 386px)
		padding 0 0 60px
.for-item
	width 100%
	max-width 480px
	margin 0 auto 80px
	display table
	background-repeat no-repeat
	background-position: center left
	padding-left: 120px
	min-height 100px
	@media screen and (max-width 1199px)
		padding 120px 0 0
		background-position: top center
		min-height 1px
		text-align center
	@media screen and (max-width 560px)
		margin-bottom: 30px
		padding-top: 110px
	&-1
		background-image: url('../img/icons/for-1.png')
	&-2
		background-image: url('../img/icons/for-2.png')
	&-3
		background-image: url('../img/icons/for-3.png')
	&-4
		background-image: url('../img/icons/for-4.png')
	&-5
		background-image: url('../img/icons/for-5.png')
	&-6
		background-image: url('../img/icons/for-6.png')
	&-7
		background-image: url('../img/icons/for-7.png')
	&-8
		background-image: url('../img/icons/for-8.png')
	&-9
		background-image: url('../img/icons/for-9.png')
	&-text
		display table-cell
		vertical-align: middle