#author
	padding 90px 0 300px
.author-img
	position relative
	width 100%
	max-width 500px
	margin 0 auto
	&-1
		display block
	&-2
		position absolute
		top 10px
		right -90px
		animation: rock
		animation-direction: normal;
		animation-duration: 20s;
		animation-fill-mode: forwards;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
@keyframes rock
	0%
		transform: rotate(0)
	50%
		transform: rotate(180deg)
	100%
		transform: rotate(360deg)
.author-item
	position absolute
	width 100%
	max-width 280px
	padding-bottom: 20px
	border-bottom: 5px solid #B2DFBE
	text-align center
	&-1
		top 0
		left 50px
	&-2
		top 0
		right -80px
	&-3
		top 150px
		left 0
	&-4
		top 200px
		right 0px
	&-5
		top 350px
		left 30px
	&-6
		top 500px
		left 120px
	&-7

		top 400px
		right 50px
	&-8
		top 600px
		left 500px
		max-width 320px
.general-img-author-1
	top 360px
	right -300px