#author
	padding 90px 0
.author-img
	position relative
	width 100%
	max-width 500px
	margin 0 auto
	&-1
		display block
	&-2
		position absolute
		top 10px
		right -160px
		animation: rock
		animation-direction: normal;
		animation-duration: 20s;
		animation-fill-mode: forwards;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
@keyframes rock
	0%
		transform: rotate(0)
	50%
		transform: rotate(180deg)
	100%
		transform: rotate(360deg)
.author-item
	position absolute
	width 100%
	max-width 320px
	padding-bottom: 20px
	border-bottom: 5px solid #B2DFBE
	text-align center
	&-1
		top 0
		left 200px
	&-2
		top 0
		right 0
	&-3
		top 0
		left 200px
	&-4
		top 0
		left 200px
	&-5
		top 0
		left 200px
	&-6
		top 0
		left 200px
	&-7
		top 0
		left 200px
	&-8
		top 0
		left 200px