#last
	padding 30px 0 120px
.main-title-last
	margin 35px 0 20px
.main-date-last
	right -250px
.form-main-last
	margin-top: 35px
.last-img
	position relative
	padding-top: 100%
	&:before
		content: ''
		display block
		position absolute
		width 520px
		height: 520px
		border-radius: 50%
		border: 48px solid rgba(255, 255, 255, 0.53)
		top 0
		right -100px
	img
		bottom -290px
		right 0