RW = 'Raleway', sans-serif;
PF = 'PlayfairDisplay', serif;
R = 'Roboto', sans-serif;

@font-face
	font-family: 'Raleway';
	font-display: fallback;
	font-weight: 200;
	font-style: normal;
	src: url('../fonts/RalewayThin.eot');
	src: url('../fonts/RalewayThin.eot') format('embedded-opentype'),url('../fonts/RalewayThin.woff2') format('woff2'),url('../fonts/RalewayThin.woff') format('woff'),url('../fonts/RalewayThin.ttf') format('truetype'),url('../fonts/RalewayThin.svg#RalewayThin') format('svg');
@font-face
	font-family: 'Raleway';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/RalewayRegular.eot');
	src: url('../fonts/RalewayRegular.eot') format('embedded-opentype'),url('../fonts/RalewayRegular.woff2') format('woff2'),url('../fonts/RalewayRegular.woff') format('woff'),url('../fonts/RalewayRegular.ttf') format('truetype'),url('../fonts/RalewayRegular.svg#RalewayRegular') format('svg');
@font-face
	font-family: 'Raleway';
	font-display: fallback;
	font-weight: 500;
	font-style: normal;
	src: url('../fonts/RalewayMedium.eot');
	src: url('../fonts/RalewayMedium.eot') format('embedded-opentype'),url('../fonts/RalewayMedium.woff2') format('woff2'),url('../fonts/RalewayMedium.woff') format('woff'),url('../fonts/RalewayMedium.ttf') format('truetype'),url('../fonts/RalewayMedium.svg#RalewayMedium') format('svg');
@font-face
	font-family: 'Raleway';
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/RalewayBold.eot');
	src: url('../fonts/RalewayBold.eot') format('embedded-opentype'),url('../fonts/RalewayBold.woff2') format('woff2'),url('../fonts/RalewayBold.woff') format('woff'),url('../fonts/RalewayBold.ttf') format('truetype'),url('../fonts/RalewayBold.svg#RalewayBold') format('svg');
@font-face
	font-family: 'PlayfairDisplay';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/PlayfairDisplayRegular.eot');
	src: url('../fonts/PlayfairDisplayRegular.eot') format('embedded-opentype'),url('../fonts/PlayfairDisplayRegular.woff2') format('woff2'),url('../fonts/PlayfairDisplayRegular.woff') format('woff'),url('../fonts/PlayfairDisplayRegular.ttf') format('truetype'),url('../fonts/PlayfairDisplayRegular.svg#PlayfairDisplayRegular') format('svg');
@font-face
	font-family: 'Roboto';
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/RobotoBold.eot');
	src: url('../fonts/RobotoBold.eot') format('embedded-opentype'),url('../fonts/RobotoBold.woff2') format('woff2'),url('../fonts/RobotoBold.woff') format('woff'),url('../fonts/RobotoBold.ttf') format('truetype'),url('../fonts/RobotoBold.svg#RobotoBold') format('svg');