header
	overflow hidden
	padding 20px 0
	margin-bottom: 40px
	position relative
	z-index 50
	@media screen and (max-width 560px)
		padding 15px 0
		margin-bottom: 20px
.header-logo
	float left
	margin-top: 4px
	img
		width auto
	@media screen and (max-width 991px)
		display block
		float: none
		margin 0 auto 5px
		width 220px
		img
			width 100%
	@media screen and (max-width: 386px)
		width 130px
.contacts
	float: right
	text-align right
	width 280px
	display table
	@media screen and (max-width 991px)
		float: none
		text-align center
		margin 0 auto
		width 220px
.contact
	line-height: 36px
	font-size: 16px
	color #000
	display table-cell
	@media screen and (max-width 991px)
		line-height: 1
		font-size: 12px
	&:focus
		text-decoration none
		color #000
	&:hover
		text-decoration underline
		color #000