section#main
	include ../base/1-header
	.container
		.content
			+imgs('general-img general-img-main-1', 'img/images/branch-main.png', 'Ветка')
			.row
				.col-md-7
					.content
						.main-circle
							.main-circle-1
						p.main-pre Онлайн марафон
						h1.main-title Дистанционное видение
						h2.main-subtitle Раскройте свои сверхспособности для принятия правильных решений
						p.main-author Автор: 
							span Ирина Волгина
						.main-date
							p 18-20 января
							p 19:00 Мск
						form(action!=action+group method="post" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8" target=form_target).form.form-main
							h3.form-title.hide Мастер-класс завершён!
							.email-block.email-block-form
								input(type="hidden" value="1" name="required_fields[email]")
								input(class="send-input input input-mail input-mail-main" name="Contact[email]" type="text" placeholder="Ваш e-mail")
							button(type="submit").button.button-form.button-form-main Записаться на мастер-класс
							.clearfix
							p.alert-message
							.checking.checking-main
								input(type="checkbox" id="check-1").check
								label(for="check-1").check-label Я согласен с 
									a(href="https://mastervision.su/politics-s.pdf" target="_blank") условиями обработки
									|  персональных данных по 152 - Ф3
							div(style="display: none;")
								div(style="display: none;")
									input(type="hidden" value=group name="Contact[id_newsletter]")
								<!-- API код канала рекламы -->
								input(type="hidden" value="0" name="Contact[id_advertising_channel_page]")
								input(type="hidden" name="formId" value=formId)
								input(type="hidden" name="formVc" value=formVc)
								input(type="hidden" name="_aid" value="")
								input(type="hidden" name="_vcaid" value="")
				.col-md-5
					.main-img
						+imgs('', 'img/images/main.png', 'Дистанционное видение')