section#video
	.container
		.row
			.col-md-6.col-md-push-6
				.video-wrapper-video
					iframe(src!='https://youtube.com/embed/BfFK1oQaO80?modestbranding=1' allowfullscreen)
			.col-md-6.col-md-pull-6
				h3.video-title Дистанционное видение
				p.general-text это метод, основанный на уникальнейшей способности человека получать информацию о любой заданной цели независимо от её местоположения во времени и в пространстве, благодаря которому можно видеть, как раскодировать информацию из Бессознательного через разные отделы головного мозга, и применять полученные знания для принятия верных решений на основе полученных данных