mixin fi(n,p)
	.col-md-4
		.for-item(class='for-item-'+n)
			p.for-item-text=p

section#for
	.container
		+gt('general-title-brown', 'Этот марафон будет полезен тем, кто:')
		.row
			+fi('1', 'Испытывает трудности с принятием решений и постоянно сомневается в их правильности')
			+fi('2', 'Не всегда может справиться со своей чувствительностью и не умеет управлять эмоциями')
			+fi('3', 'Чувствует потребность в переменах, но не знает, что именно хочет изменить и с чего начать')
		.row
			+fi('4', 'Испытывает страх перед будущим')
			+fi('5', 'Неудовлетворен своей работой и не может найти своё предназначение')
			+fi('6', 'Страдает от одиночества и мечтает, чтобы рядом был любимый человек')
		.row
			+fi('7', 'Терял деньги в связи с невозможностью верно спрогнозировать развитие ситуации')
			+fi('8', 'Закончил курсы по развитию способностей, но так и не стал профессионалом в этом деле')
			+fi('9', 'Хочет найти единомышленников, с которыми можно вместе развиваться')
		+b('', 'button-up', href, 'Участвовать в марафоне')