mixin ri(n, p)
	.reason(class='reason-'+n)
		h4.reason-title='0'+n
		p.reason-text=p

section#reasons
	+imgs('reasons-back', 'img/backs/reasons.png', 'Фон блока')
	.container
		+gt('general-title-brown', '5 причин посетить этот марафон')
		+ri('1', 'Это лучшее из возможного, что существует на сегодняшний день в сфере обучения ясновидения и интуиции')
		+ri('2', 'Развитие интуиции проходит по уникальной программе, разработанной на базе Стэнфордского университета')
		+ri('3', 'Методика подтверждена тысячами исследований и проверена на тысячах добровольцев')
		+ri('4', 'Вы обретёте способность получать информацию непосредственно из информационного поля и выводить её в свой протокол описания цели без активного вмешательства сознания в этот процесс')
		+ri('5', 'После марафона Вы научитесь находить ответы на интересующие Вас вопросы и  решать  жизненные и профессиональные проблемы')
		.clearfix
		+b('', 'button-up', href, 'Участвовать в марафоне')