mixin d(n, h5, bonus, ...items)
	.day(class='day-'+n)
		h4.day-title=n+' день'
		h5.day-subtitle=h5
		ul.general-list
			each item in items
				li=item
		.day-bonus
			p.day-bonus-text=bonus

section#plan
	.container
		.content
			+imgs('plan-img-1', 'img/images/branch-1.png', 'Ветка')
			+d('1', 'Код интуиции и удалённого “просмотра”', 'Специальная техника “Вхождение в нелокальное состояние”', 'Научный метод развития интуиции;','Прикосновение к информационному полю Вселенной;','Определение своего канала интуиции;','Общие аспекты считывания “слепых целей”;','Понятие информационной матрицы;','Практики на заглядывание в будущее;','Домашнее задание')
			+d('2', 'Развитие интуиции по методу спецслужб', 'Техника синхронизация левого и правого полушарий головного мозга', 'Декодирование информации из бессознательного;','Считывание основных архетипов;','Ощущение фактуры;','Вхождение в нелокальное состояние;','Практика на заглядывание в будущее;','Домашнее задание')
			+d('3', 'Практическое применение ДВ', 'Медитация “Дом” - работа с образами бессознательного', 'Аналитическая помеха (AOL);','Координаты цели;','Обратная связь.;','Внутренняя структура человека через призму ДВ;','Решение своего жизненного вопроса с помощью информационного поля;','Отзывы вьюеров')
			+b('', 'button-up', href, 'Иду на марафон')