mixin li(n, p)
	.col-md-4
		.lets-item(class='lets-item-'+n)
			p.lets-item-text=p

section#lets
	.container
		+gt('', 'Марафон позволит Вам')
		.row
			+li('1', 'Получить основы дистанционного видения и начать его применять в своей повседневности')
			+li('2', 'Оценить свой уровень интуиции и понять, какой из каналов восприятия является у Вас ведущим')
			+li('3', 'Познакомиться с научными методиками по развитию интуиции')
		.row
			+li('4', 'Научиться отсеивать аналитические помехи сознания')
			+li('5', 'Раскрыть огромный потенциал, заложенный в Вас природой, а также начать его развивать и применять')
			+li('6', 'Превратить интуицию в надёжного советника при решении любых вопросов')
		+b('', 'button-up', href, 'Мне это необходмо')