mixin ai(n, p)
	.author-item(class='author-item-'+n)
		p.author-item-text!=p

section#author
	.container
		+gt('general-title-green', 'О тренере')
		.content
			.col-md-6.col-md-offset-3
				.author-img
					+imgs('author-img-1', 'img/images/irina.png', 'Ирина Волгина')
					+imgs('author-img-2', 'img/images/irina-name.png', 'Ирина Волгина')
			+ai('1', 'Педагог, преподаватель  английского языка, переводчик')
			+ai('2', 'Опыт преподавания в международной школе Buckswood school (Англия)')
			+ai('3', 'Обучение РПТ, НЛП-практик, МАК-терапевт, “Вселенская терапия”')
			+ai('4', 'Переводчик медицинских энциклопедий и учебников с английского языка на русский')
			+ai('5', 'Кандидат педагогических наук (степень PHD)')
			+ai('6', 'Участник международной рабочей группы ассоциации вьюеров Applied Precognition Project (США)')
			+ai('7', '<span>Образование</span>Колумбийский университет (Нью-Йорк, США)')
			+ai('8', 'С 1998 по 2005 работала в Британской организации VSO под патронажем принца Чарльза (проект, направленный на реформацию  здравоохранения в России)')
			+imgs('general-img general-img-author-1', 'img/images/branch-2.png', 'Ветка')