section#main
	include ../base/1-header
	.container
		.content
			+imgs('general-img general-img-main-1', 'img/images/branch-main.png', 'Ветка')
			.row
				.col-md-7
					.content
						.main-circle
							.main-circle-1
						p.main-pre Обучающий курс
						h1.main-title Дистанционное видение
						p.main-author Автор: 
							span Ирина Волгина
						.main-date
							p Старт:
							p 25 января, 19:00 Мск
						+b('', 'button-main', href, 'Записаться')
				.col-md-5
					.main-img