mixin fi(n, p)
	.for-items-(class='for-'+n)
		h4.for-items-title='0'+n
		p.for-items-text=p

section#fors
	+imgs('fors-back', 'img/backs/reasons.png', 'Фон блока')
	.container
		+gt('general-title-brown', 'Этот курс для тех, кто:')
		+fi('1', 'стремится стать более осознанным, прокачать свою интуицию и начать уверенно принимать решения')
		+fi('2', 'жаждет быстро и легко изменить себя в желаемом направлении')
		+fi('3', 'готов в настоящем – переместиться в желаемую реальность своей жизни')
		+fi('4', 'желает глубоко войти в позицию Создателя своей жизни и хозяина Судьбы')
		.clearfix
		+b('', '', href, 'Участвовать в курсе')