mixin fi(n, p)
	.for-item(class='for-item-'+n)
		h4.for-item-title='0'+n
		p.for-item-text=p

section#fors
	.container
		+gt('general-title-brown', 'Этот курс для тех, кто:')
		+fi('1', 'стремится стать более осознанным, прокачать свою интуицию и начать уверенно принимать решения')
		+fi('2', 'жаждет быстро и легко изменить себя в желаемом направлении')
		+fi('3', 'готов в настоящем – переместиться в желаемую реальность своей жизни')
		+fi('4', 'желает глубоко войти в позицию Создателя своей жизни и хозяина Судьбы')
		.clearfix
		+b('', '', href, 'Участвовать в курсе')