mixin p(n, h4, h5, ...items)
	.variant(class='variant-'+n)
		h4.variant-title=h4
		.variant-info
			h5.variant-info-title=h5
			ul.general-list
				each item in items
					li=item
		.clearfix

section#plan
	.container
		.content
			+imgs('general-img general-img-plan-1', 'img/images/branch-1.png', 'Ветка')
			+gt('general-title-green', 'Программа марафона')
			+p('1', 'пакет СЕРЕБРО', 'Что получите после прохождения пакета СЕРЕБРО','Научитесь настраиваться на процесс вхождения в нелокальное состояние','Подключаться к Вселенской информационной матрице и удерживать с ней связь','Анализировать 3 стадии получения истинной информации о цели и показывать высокие результаты при считывании','Эффективно получать ответы на жизненные вопросы через тонкий план и через взаимодействие с будущим при помощи практики дистанционного видения')
			+p('2', 'Пакет ЗОЛОТО', 'Что получите после прохождения пакета ЗОЛОТО','Анализировать 6 стадий получения истинной информации о цели','Предсказывать результаты исходов событий','Искать предметы, ценные вещи и людей','Считывать знаковые события в Мире')
			+p('3', 'Пакет ПЛАТИНА', 'Что получите после прохождения пакета ПЛАТИНА','Научитесь сканировать внутренним взором свой организм и чувствовать энергию в теле','Интуитивно различать больные и здоровые органы, находить «сбой» в системе глубинного бессознательного и высвобождать энергию подавленных эмоций','Эффективно устранять «сбой», завершать стрессовые ситуации прошлого, которые еще хранятся в теле пациента','Очищать своё пространство и использовать методы эмоциональной и энергетической «чистки»')
			+b('', 'button-plan', href, 'Иду на курс')