mixin ai(n, p)
	.col-md-4
		.after-item(class='after-item-'+n)
			p.after-item-text=p

section#after
	+imgs('after-back', 'img/backs/reasons.png', 'Фон блока')
	.container
		+gt('', 'После курса:')
		.row
			+ai('1', 'Жизнь окрасится новыми красками, вы будете легко принимать решения')
			+ai('2', 'Станет понятным ход событий')
			+ai('3', 'Вы будете ярче ощущать чувства, ощущения свои и окружающих, вырастет эмпатия и ваш эмоциональный интеллект')
		.row
			+ai('4', 'Вы будете считывать намерения окружающих и принимать решения о взаимодействии с нужными людьми в жизни и бизнесе')
			+ai('5', 'Вы активизируете в себе свои внутренние ресурсы и таланты')
			+ai('6', 'Вы начнете читать подсказки бессознательного, принимая решения')
		.row
			+ai('7', 'Интуиция в гармонии с разумом позволят отбросить стереотипы и перестать бояться перемен')
			+ai('8', 'Вы можете пользоваться интуицией и точно знаете, как работает ваша персональная интуиция')
			+ai('9', 'Вы станете квалифицированным специалистом по дистанционному видению')
		+b('', '', href, 'Мне это необходмо')