section#last
	.container
		.row
			.col-md-7
				.content
					h1.main-title.main-title-last Начните сейчас!
					h2.main-subtitle Более 20 000 учеников доверяют нам и реализует свои цели
					+b('', '', href, 'Иду на курс!')
			.col-md-5
				.last-img
					+imgs('general-img', 'img/images/branch-2.png', 'Ветка')